<div class="searchContainer">
    <div class="container">
        <div class="searchContents searchContentA">
            <i class="fas fa-book"></i>&nbsp;<span>BOOk GATE</span>
        </div>
        <div class="searchContents searchContentB">
            <div class="searchGroup">
                <input type="search" placeholder="책 이름, 저자 명"/>
                <button><i class="fas fa-search"></i></button>
            </div>
        </div>
        <div class="searchContents searchContentC">
            <a href="#"><i class="fas fa-user-circle"></i></a>
            <a href="#"><i class="fas fa-bars"></i></a>
            <a href="#"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
    
</div>