<div class="navContainer">
    <div class="topContents logoContent">
        <div><span>BookGate</span></div>
    </div>
    <div class="topContents searchontent">
        <!--<pre class="searchContainer">책을 검색하려면 이곳을 누르십시오</pre>-->
        <input class="searchContainer" type="search" placeholder="책을 검색하려면 이곳을 누르십시오"/>
    </div>
    <div class="topContents barContent"><i class="fas fa-align-justify barIcon"></i></div>
</div>