.nav
{
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    
}
.nav .navContainer
{
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}
.nav .navContainer pre, .nav .navContainer .calenderIcon
{
    cursor: pointer;
}

.nav .topContents
{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    color: white;
}
.nav .logoContent
{
    margin-left: 10px;
    flex: 0 0 100px;
    font-size: 1rem;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #bbb;
    border-radius: 50%;
}
.nav .searchontent
{
    flex: 1 1 auto;
    max-width: 500px;
    z-index: 2;
}
.nav .searchontent input
{
    width: 400px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    color: white;
    font-size:1rem;
    padding-left:20px; 
    border-bottom: 1px solid rgba(255,255,255,0.5);
    z-index: 2;
}
.nav .searchontent input:focus
{
    border-bottom: 1px solid rgba(255,255,255,1);
}
.nav .searchontent input:focus::placeholder
{
    color: rgba(255,255,255,0.6);
}


.nav .barContent
{
    margin-right: 30px;
    flex: 0 0 100px;
}
.nav .barContent .barIcon
{
    width: 30px;
    height: 30px;
    color: white;
}